# Ignore everything
*

# Allow README.md
!/README.md

# Allow all task directories and their contents
!/python/
!/python/**/
!/python/**/task*/**
!/python/project/
!/python/project/**
python/project/audio.wav
python/project/result.txt
.gitignore
